.actions{
    text-align: center;
}

#prompt{
    text-align: center;
    width: 100%;
    font-size: 3em;
}

ul {
    list-style-type: none;
}

.word{
    padding: 5px;
    float: left;
    font-size: 100px;
    //padding-right: 5px;
    //padding-top:0px;
    //padding-bottom: 0px;
    margin: 0px;
}

.cloud{
    margin: 0px;
    padding: 0px;
    width: 170px;
    height: 170px;
    overflow: hidden;
}

li{
    float: left;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    overflow: hidden;
}

.clear{
    clear: both;
}

.overflow{
    overflow: hidden;
}

p {
    margin-bottom: 0px;
}
